name: Deploy to Live Site

'on':
  push:
    branches:
      - main
    paths:
      - 'marketing/**'        # Only trigger if files in 'marketing' change
      - '.github/workflows/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TOR_MULDER_DRONE_SYSTEMS }}'
          channelId: live
          projectId: tor-mulder-drone-systems
          entryPoint: ./marketing  # <--- THIS IS THE KEY FIX